@using System.Web.UI.WebControls
@{
  ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    <div class="row">
        <div>
            Login: <input type="text" name="Uzytkownik" />
        </div>
        <div>
            Hasło: <input type="password" name="Haslo" />
        </div>
        <div>
            <input type="submit" />
        </div>
        <p style="color: red;">@ViewBag.Blad</p>
    </div>
}
<div class="row">
    <p>
        <a href="Home/NewLogin">Stwórz konto</a>
    </p>
</div>
